
/* CSS declarations go here */


/*input,
input:active,
input:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0; }*/

*, *:before, *:after {
    box-sizing: inherit; }

ul, h1, p {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px; }

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}



.ct-series-a .ct-point {
    stroke-width: 20px;
    stroke-linecap: round;
    fill: white;
}

.ct-series-b > .ct-line{
    stroke: #e57373!important;
    stroke-width: 3px !important;

}
.ct-series-b > .ct-point {
    stroke: #e57373!important;
    stroke-width: 3px !important;
}
/*.dataCard {
    margin-top: 10px;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10px; }

#fijnstofCard {
    background: radial-gradient(#00a7f7, #0086d4);
    margin-bottom: 40px;
}


.data {
    height: 100%!important;
    width: 100%; }

.cardHeader {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 24px;
    background-color: #0c74d5;
    width: 100%;
    height: 50px;
    *//* <-- this is what you must define *//*
    vertical-align: middle;
    padding-left: 10px; }
.cardHeader h1 {
    margin-top: 0px;
    font-size: 24px;
    line-height: 50px; }*/

/*text color*/
.ct-label {
    color: rgba(255, 255, 255, 0.9) !important;
}

.ct-line, .ct-point {
    stroke: white !important;
    stroke-width: 3px !important;
}

.ct-point {
    stroke-width: 10px !important;
}

.ct-chart {
}

/*-----------top pie------*/
#topPieCard {
}

#topPie .ct-series-a > path {
    stroke: #338F43 !important;
    stroke-width: 20px !important;

}

#topPie .ct-series-b > path {
    stroke: none !important;
    stroke-width: 20px !important;
}

#topPie {

    height: 80% !important;
}

#fillPie {

    position: absolute;
    background-color: #606161;
    /*background: radial-gradient(#445A65, #5F7D8C );*/

    height: 245px;
    width: 245px;
    left: 50%;
    border-radius: 100%;
    top: 52%;
    transform: translate(-50%, -50%);
    z-index: -1;

}

#fillPie > p {
    text-align: center;
    line-height: 245px;
    font-size: 60px;
    color: #ffffff;
}

.grey {
    background-color: #606161;
}

.saveDivFijnstof{
    display: none;
}

/*.green{
    background-color: #338F43;
}

.grey{
    background-color:  #606161;
}

.pageDescription{

}

.headPage{

    height: 140px;
    margin-bottom: 30px;
    background-color: #0086d4;
    position: relative;
    background-image: url("img/patternBlue.png") ;
    background-size: cover;
    box-shadow: inset 0 -10px 10px -10px #000000;
    *//* background-size: ;
     background-image:;*//*
}

img {

    max-width: 100%;
    max-height: 100%;
}

.headPage > .headImage{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translateY(-50%);
}

.headPage > h1{
    color: white;
    position: absolute;
    top: 60%;
    left: 5%;
    transform: translateY(-50%);

    letter-spacing: 2px;

}

h1{
    letter-spacing: 1px;

}


.buttonDataTimeFilter{

    width: 100px;

    margin-left: 20px;
    height: 35px;
    display: inline-block;
    align-self: center;

}

.buttonDataTimeFilter > p{
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: #ffffff;
}

.buttonDataTimeFilterContainer{
        width: 100%;
        display: none;
    justify-content: flex-end;
}*/

/*
.first{
    margin-left: 80%
}*/
/*

.logoTop{

    position: fixed;
    top: 5px;
    left: 85px;
    height: 50px;
    z-index: 30000;
    opacity:0.0;

}*/

.summaryCard {
    width: 49%;
    display: inline-block;

}

/*
.summaryCard > .card-title{
    font-size: 14px;
}
*/

.summaryData {

    display: block;
    margin-top: 10px;
}

#containerSummary {
    background-color: red;
}

.data {
    padding: 15px;
}

.card {
    margin: 0.5rem 2px 1rem 2px !important;
}


.contentAfterIamage {
    margin-left: 30%;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('imgs/headImage.png') center / cover;
}

.mdl-card {

    width: auto !important;
}

