*, *:before, *:after {
    box-sizing: inherit; }

ul, h1, p {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px; }

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

.contentAfterIamage {
    margin-left: 30%;
}

.mdl-card {

    width: auto !important;
}

#heartInfo > .imgCardInfo {
    margin: auto;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    background-size: cover;
    background: #808080 url("../imgs/heart.png") no-repeat center;
}

#stressInfo > .imgCardInfo {
    margin: auto;
    width: 10%;
    height: 300px;
    top: 0;
    left: 0;
}

#heartRate
{
    padding-left: 210px;
    padding-top: 70px;
    color: #FFFFFF;
}

#headText
{
    margin-left: 5px;
    margin-top: 10px;
    color: #FFFFFF;
}

