*, *:before, *:after {
    box-sizing: inherit; }

ul, h1, p {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px; }

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

.contentAfterIamage {
    margin-left: 30%;
}

.mdl-card {

    width: auto !important;
}



