.switch {
    margin-top: 20px;
}

.input-field {}


#IntellingenInsideCard{

    margin-top: 20px !important;
}

#saveDivFijnstof{

margin-top: 40px;
display: none;
    flex-direction: row-reverse;

}

#saveDivFijnstof > button{
    margin-left: 10px;
}