<template name="exercises">
    <div class="card blue-grey darken-1" id="longInfo">
        <div class="imgCardInfo">
            <img src="../public/imgs/yoga_stretch.png" alt="yoga"/>
        </div>
        <div class="card-content white-text contentAfterIamage">
            <span class="card-title">Shoulder Stretch</span>
            <p>Interlace your fingers, and raise your arms above your head, with your palms facing upwards.
                Try to keep your arms in line with your ears, while you look straight ahead and relax your shoulder blades down your back (don’t shrug them up!)
                Hold for five full breaths in and out through your nose.
                Let your arms fall down to your sides, roll your shoulders backwards and forwards a few times, then repeat the stretch, holding for five full breaths.</p>
        </div>
    </div>

    <div class="card blue-grey darken-1" id="longInfo">
        <div class="imgCardInfo"></div>
        <div class="card-content white-text contentAfterIamage">
            <span class="card-title">Eagle arms</span>
            <p>
                Stand with your feet hip-distance apart.
                Hold your arms straight out from your sides, parallel to the floor.
                Swing your arms toward each other, bringing your left elbow over your right.
                Then bend your elbows, so the backs of your hands are touching.
                Now, hook one hand over the other so that your palms are facing each other.
                For a visual of this complicated explanation, watch this video.
            </p>
            <p>
                <br>
                Once you have the arm wrap going, look straight ahead and try to keep your elbows lifted.
                Press your palms into each other, while you try to pull your elbows apart.
                Keep your shoulders relaxed. You should feel a powerful stretch in your neck and between your shoulder blades.
                Hold for five breaths.
            </p>
            <p>
                <br>
                Unwrap your arms and hold them out to the side again.
                Swing them back toward each other, this time bringing the opposite elbow on top.
                Repeat the pose in the opposite position, holding for five breaths.
            </p>
        </div>
    </div>
</template>

